@import './custom-media.css';

.index-page section {
	grid-template-rows: 1fr auto auto;

	& h2 {
		grid-column: 3;
		grid-row: 1;
		align-self: center;
		justify-self: baseline;
		margin-bottom: var(--space-2);
	}

	> .button {
		grid-column: 3;
		grid-row: 2;
		align-self: baseline;
		justify-self: baseline;
		margin-bottom: var(--space-2);

		@media (--bp-tablet) {
			grid-row: 1;
			align-self: end;
			justify-self: end;
		}
	}

	@media (--bp-tablet) {
		& h2,
		> .button {
			margin-bottom: var(--size-8);
		}
	}
}
