
#resume, #projects {
  grid-template-rows: 256px auto auto;
}
#projects h2, #resume h2 {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self: baseline;
  padding: 0px 8px 0px 8px;
}
#projects > a.button-link, #resume > a.button-link {
  grid-column: 3;
  grid-row: 1;
  align-self: end;
  justify-self: end;
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  #projects > a.button-link, #resume > a.button-link {
    margin-bottom: 32px;
  }
}
@media (max-width: 768px) {
  #resume, #projects {
    grid-template-rows: 160px auto auto;
  }
  #resume > a.button-link, #projects > a.button-link {
    grid-row: 2;
    align-self: baseline;
    justify-self: baseline;
    margin-bottom: 8px;
  }
}
@media (max-width: 480px) {
  #resume, #projects {
    grid-template-columns: var(--grid-template-columns-mobile);
  }
  #resume, #projects {
    grid-template-rows: 96px auto auto;
  }
}