@import "../variables";

.index {
  &__section {
    grid-template-rows: 1fr auto auto;
    
    h2 {
      grid-column: 3;
      grid-row: 1;
      align-self: center;
      justify-self: baseline;
      margin-bottom: $space-2;
    }
    
    > .button {
      grid-column: 3;
      grid-row: 2;
      align-self: baseline;
      justify-self: baseline;
      margin-bottom: 8px;

      @media (min-width: $bp-tablet) {
        grid-row: 1;
        align-self: end;
        justify-self: end;
      }
    }
    
    @media (min-width: $bp-tablet) {
      h2,
      > .button {
        margin-bottom: 40px;
      }
    }
  }
}
