.resume,
.projects {
  grid-template-rows: 256px auto auto;

  h2 {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    justify-self: baseline;
    padding: 0px 8px 0px 8px;
  }

  > .button {
    grid-column: 3;
    grid-row: 1;
    align-self: end;
    justify-self: end;
    margin-bottom: 16px;
    
    @media (max-width: 1024px) {
      margin-bottom: 32px;
    }
  }
  
  @media (max-width: 768px) {
    grid-template-rows: 160px auto auto;
    
    > .button {
      grid-row: 2;
      align-self: baseline;
      justify-self: baseline;
      margin-bottom: 8px;
    }
  }

  @media (max-width: 480px) {
    grid-template-columns: var(--grid-template-columns-mobile);
    grid-template-rows: 96px auto auto;
  }
}
