.project-page {
  margin-top: 64px;
  
  .markdown.peek {
    grid-column: 1 / 6;
    
    .content {
      padding: 0 80px;
      
      @media (max-width: 480px) {
        padding: 0 48px;
      }
    }
  }
  
  .external-links {
    grid-column: 3;
    justify-self: end;
    
    @media (max-width: 768px) {
      justify-self: center;
    }
  }
}
