@import "../variables";

.project-page {
  margin-top: 20px;
  
  .markdown {
    grid-column: 3;

    @media (min-width: $bp-mobile) {
      grid-column: 2 / 5;
    }

    @media (min-width: $bp-tablet) {
      grid-column: 3;
    }
  }
  
  .external-links {
    grid-column: 3;
    justify-self: center;

    @media (min-width: $bp-tablet) {
      justify-self: end;
    }
  }
}
