.button {
    border: 0;
    background-color: #e17381;
    color: #f9f9fa;
    display: inline-flex;
    height: 40px;
    font-size: 1.3em;
    min-width: 36px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: color .2s, background-color .2s, transform .2s;
    padding: 0 16px;
    font-weight: 700;
    cursor: pointer;
}
.button:hover, .button.disabled {
    background-color: #e895a1;
    transform: translateY(-1px);
}
.button:active {
    background-color: #e17381;
    transform: translateY(-2px);
}
.button:focus {
    outline: none;
}
.button.outline {
    border: solid 3px #e17381;
}
.button.text, .button.outline {
    color: #e17381;
}
.button.text, .button.outline {
    background-color: rgba(224, 114, 128, 0);
}
.button.text:hover, .button.outline:hover {
    background-color: rgba(224, 114, 128, 0.1)
}
.button.text:active, .button.outline:active {
    background-color: rgba(224, 114, 128, 0.3)
}

a.button {
  color: #f9f9fa;
}
a.button::after, a.button:visited::after, a.button:hover::after, a.button:active::after {
  display: none;
}

.button.soft-shadow {
  box-shadow: 0 16px 40px rgba(61, 62, 70, 0.3), 0 4px 10px rgba(61, 62, 70, 0.1);
  transition: box-shadow .2s, color .2s, background-color .2s, transform .2s;
}
.button.soft-shadow:hover {
  box-shadow: 0 21px 53px rgba(61, 62, 70, 0.3), 0 5px 13px rgba(61, 62, 70, 0.1);
}
.button.soft-shadow:active {
  box-shadow: 0 10px 27px rgba(61, 62, 70, 0.3), 0 3px 12px rgba(61, 62, 70, 0.1);
}

a.button::after {
  width: initial;
  height: initial;
}

.button .icon {
  width: 32px;
  height: 32px;
  background-size: contain;
}

.skeleton button {
  animation: var(--skeleton-animation);
  width: 128px;
}
