@import '../variables';

.feature-box {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 256px auto;
  border-radius: 4px;
  box-shadow: $shadow-soft;
  
  &__image {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    animation: var(--skeleton-animation);
    background-position: center center;
    background-size: cover;
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 4px 0 0 4px;
      object-fit: cover;
    }
  }

  &__titlebar {
    margin-top: -40px;
    grid-row: 2;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: inline-flex;
    flex-direction: column;
    grid-row: 2;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  p {
    margin: 0 20px 20px;
  }

  h3 {
    margin: 20px 16px;
  }

  .icon {
    display: inline-flex;
    height: 72px;
    width: 80px;
    margin: 20px;
    background-size: cover;
    border-radius: 4px;
    filter: $shadow-soft-drop;
    
    &:nth-of-type(even) {
      margin-left: auto;
      margin-right: 20px;
    }
  }
  
  &.skeleton {
    .feature-box__image .img {
      height: 100%;
      border-radius: 4px 0 0 4px;
    }
    
    .icon {
      animation: var(--skeleton-animation);
    }
    
    p,
    h3 {
      width: 66%;
    }
  }

  @media (min-width: $bp-desktop) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

    &__content {
      grid-column: 2;
      grid-row: 1;
    }

    &__titlebar {
      position: relative;
      margin: -20px;

      .button {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(calc(-100% + 40px), -50%);

        ~ .button {
          right: 0;
          left: auto;
          transform: translate(calc(100% - 40px), -50%);
        }
      }
    }
  }
}




