footer {
  grid-template-rows: auto 256px 64px;
  margin-bottom: 128px;
}

footer h2 {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  justify-self: baseline;
  padding: 0px 8px 0px 8px;
}

footer #email {
  grid-column: 3;
  grid-row: 3;
}

footer .footer-links {
  grid-column: 3;
  grid-row: 3;
  justify-self: right;
  align-self: end;
}
footer .footer-links a {
  margin: 0 8px;
}
footer .footer-links a:first-child {
  margin-left: 0;
}
footer .footer-links a:last-child {
  margin-right: 0;
}
footer .footer-links a svg {
  width: 40px;
  height: 40px;
}

footer a.button-link {
  grid-column: 3;
  grid-row: 2;
  align-self: flex-end;
  justify-self: end;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  footer .footer-links {
    justify-self: baseline;
    margin-bottom: -64px;
  }
  footer a.button-link {
    margin-bottom: 32px;
  }
}
@media (max-width: 768px) {
  footer {
    grid-template-rows: 0px var(--grid-row-1-tablet) 64px;
  }
  footer a.button-link {
    grid-row: 1;
    margin-bottom: -40px;
    justify-self: baseline;
  }
}
@media (max-width: 480px) {
  footer {
    grid-template-columns: var(--grid-template-columns-mobile);
    grid-template-rows: 20px var(--grid-row-1-mobile) 64px;
    margin-bottom: 64px;
  }
  footer .footer-links {
    margin-bottom: -16px;
  }
  footer .footer-links a svg {
    width: 20px;
    height: 20px;
  }
  footer h3 {
    font-size: 1.4em;
  }
  footer a.button-link {
    margin-bottom: -20px;
  }
}