@import "../variables";

.footer {
  grid-template-rows: min-content(20px auto) auto auto;
  grid-auto-flow: column;
  margin-bottom: 40px;
  
  h2 {
    grid-column: 3;
    grid-row: 2;
    justify-self: baseline;

    @media (min-width: $bp-tablet) {
      margin-bottom: 20px;
    }

    @media (min-width: $bp-desktop) {
      margin-bottom: 40px;
    }
  }

  h3 {
    margin: 8px 0;
  }
  
  .button {
    grid-row: 1;
    grid-column: 3;
    justify-self: baseline;
    transform: translateX(-16px);

    @media (min-width: $bp-tablet) {
      grid-row: 2;
      justify-self: end;
      align-self: end;
      margin-bottom: 12px;
      transform: translateX(12px);
    }
  }

  .external-links {
    margin: 0;
  }
  
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 3;
    grid-row: 3;

    @media (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }
}
