@import "../variables";

.gallery {
  $gallery__content-margin: 32px;
  $gallery__image-height: 256px;
  $gallery__card-padding: 20px;
  $gallery__shadow-depth: 56px;
  overflow-x: hidden;
  position: relative;
  min-height: calc(($line-height * 3em) + ($gallery__content-margin + $gallery__image-height + (2 * $gallery__card-padding) + $gallery__shadow-depth));
  margin: -32px -4px;
    
  &__content {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    width: calc(100% - $space-6);
    margin-top: $gallery__content-margin;
    border-radius: 4px;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s, box-shadow .2s;

    &:hover {
      box-shadow: $shadow-soft-deep;
      cursor: pointer;

      .card-highlight {
        height: 10px;
      }
    }

    &:active {
      .card-highlight {
        height: 12px;
      }
    }
    
    &:active,
    &:focus {
      box-shadow: $shadow-soft-shallow;
      outline: none;
    }

    &--in {
      opacity: 1;

      + .gallery__content--in {
        opacity: 0;

        @media (min-width: $bp-tablet) {
          opacity: 1;
        }
      }
    }

    @media (min-width: $bp-tablet) {
      width: calc(50% - 96px);
    }
  }
  
  &__image {
      display: inline-flex;
      height: $gallery__image-height;
      border-radius: 4px 4px 0 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      object-fit: cover;
  }

  .card {
    border-radius: 0 0 4px 4px;
    
    h4 {
      height: calc($line-height * 3em);
      overflow: hidden;
    }
  }
  
  .button {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    &:first-child {
        left: 0;
    }
    &:last-child {
        right: 0;
    }
  }

  &.skeleton {
    .gallery__image {
      animation: var(--skeleton-animation);
    }
    .button {
      width: 48px;
    }
  }
}

