@import "../variables";

.markdown {
  grid-column: 3;
  grid-row: 2;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0 40px;

  @media (min-width: $bp-mobile) {
    padding: 0 20px;
  }

  @media (min-width: $bp-tablet) {
    padding: 0;
  }

  &__content {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }
  
  &.peek {
    margin-left: -40px;
    width: calc(100% + 80px);

    .markdown__content {
      overflow-y: hidden;
      position: relative;
      max-height: $space-8;
      max-width: 800px;
      margin-bottom: 20px;
      padding: 0 40px;
  
      &::after {
        content: "";
        height: 256px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(transparent, $color-grey-lightest);
      }
    }

    @media (min-width: $bp-mobile) {
      margin-left: -20px;
      margin-right: -20px;
      padding: 0;
      width: auto;
    }

    @media (min-width: $bp-tablet) {
      margin-left: -60px;
      margin-right: -60px;

      .markdown__content {
        max-width: 840px;
        padding: 0 60px;
      }
    }
  }

  p {
    margin-bottom: 1em;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.2em;
  }
  
  img {
    width: 100%;
    margin-bottom: 2em;
    border-radius: 4px;
    box-shadow: $shadow-soft;
  }
  
  em {
    margin-top: -1em;
    display: block;
    text-align: center;
  }
  
  pre {
    position: relative;
    counter-reset: (line);
    color: $color-grey-lightest;
    padding: 8px 16px;
    box-shadow: $shadow-soft-shallow;
    white-space: pre-wrap;
    
    &::before {
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      background-color: $color-secondary-dark;
      border-radius: 4px;
    }
    
    code {
      counter-increment: line;
      font-size: 1em;
      display: block;
    }
  }
  
  blockquote {
    margin: 8px 0;
    padding-left: 32px;
    position: relative;
    
    &::after {
      position: absolute;
      content: "";
      display: inline-flex;
      width: 8px;
      height: calc(100% - 8px);
      left: 0px;
      top: 4px;
      background-color: $color-primary-light;
      border-radius: 4px;
    }
  }

  @media (min-width: $bp-desktop) {
    h1 {
      font-size: $size-9;
    }
  }
}


