.markdown {
  grid-column: 3;
  grid-row: 2;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.markdown.peek .content {
  overflow-y: hidden;
  max-height: 512px;
  position: relative;
  margin-bottom: 32px;
  padding: 0 96px;
}
.markdown .content {
  margin: 0 auto 0 auto;
}
.markdown.peek .content {
  max-width: 880px;
}
.markdown.peek .content::after {
  content: "";
  height: 256px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(247, 249, 249, 0), rgba(247, 249, 249, 1));
}
.markdown .button {
  grid-column: 3;
  grid-row: 2;
  transform: translateX(-50%);
  margin-left: 50%;
  width: fit-content;
}

.content h1, .content h2, .content h3 {
  font-weight: 900;
}
.content h1 strong, .content h2 strong, .content h3 strong {
  font-weight: 900;
}
.content h1, .content h2, .content h3, .content p {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.content h1 {
  font-size: 3.375em;
}
.content h2 {
  font-size: 2.25em;
}
.content h3 {
  font-size: 1.5em;
}

.content p, .content li {
  font-size: 1.3em;
}
.content li * {
  font-size: 1em;
}
.content p strong {
  font-weight: 900;
}
.content li p {
  margin: 0;
}

.content {
  width: 100%;
  max-width: 720px;
}

.content img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 16px 40px rgba(61, 62, 70, 0.3), 0 4px 10px rgba(61, 62, 70, 0.1);
}
.content p img + em {
  margin-top: 1em;
  display: block;
  text-align: center;
}

.content p, .content h1, .content h2, .content h3, .content img {
  margin: 32px 0 0 0;
}

.content pre {
  position: relative;
  counter-reset: (line);
  color: #f9f9fa;
  padding: 8px 16px;
  box-shadow: 0 10px 27px rgba(61, 62, 70, 0.3), 0 3px 12px rgba(61, 62, 70, 0.1);
  white-space: pre-wrap;
}
.content pre::before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #5a66b1;
  border-radius: 4px;
}
.content pre code::before {
  content: counter(line) " ";
  opacity: 0.67;
}
.content pre code {
  counter-increment: line;
  font-size: 1em;
  display: block;
}

.content blockquote {
  margin: 8px 0;
  padding-left: 32px;
  position: relative;
}
.content blockquote::after {
  position: absolute;
  content: "";
  display: inline-flex;
  width: 8px;
  height: calc(100% - 8px);
  left: 0px;
  top: 4px;
  background-color: #e895a1;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .content p, .content li {
    font-size: 1em;
  }
  .content pre code {
    font-size: 0.8em;
  }
}
@media (max-width: 425px) {
  .content h1 {
    font-size: 2em;
  }
  .content h2 {
    font-size: 1.5em;
  }
  .content h3 {
    font-size: 1.25em;
  }
}
