.page {
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity .5s ease-out;
  display: grid;
  flex-direction: column;
}

.page-inner {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
}

.page-exit {
  opacity: 0;
}