@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.page {
  position: absolute;
  top: 0;
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  transition: opacity .5s ease-out, transform .5s;
  animation: page .5s;
  
  &__inner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
  
  &--enter {
    opacity: 0;
  }
  
  &--enter-active {
    opacity: 1;
  }
  
  &--exit {
    opacity: 0;
    z-index: -1;
  }
}

.fade {
  animation: page 1s both;

  &--delayed {
    animation-delay: 500ms;
  }
}

.blink {
  &:empty {
    background: currentColor;
    animation: blink 1.5s both infinite ease;
    animation-delay: 2s;

    &::after {
      content: "_";
    }
  }
}