:root {
  /* Main Colours */
  --color-primary-light: #e895a1;
  --color-primary: #e17381;
  --color-primary-dark: #cb6775;
  --color-secondary-light: #b0b8ee;
  --color-secondary: #7382e1;
  --color-secondary-dark: #5a66b1;
  --color-tertiary-light: #dd95e8;
  --color-tertiary: #bd67cb;
  --color-tertiary-dark: #894b93;

  /* Grey Colours */
  --color-grey-lightest: #f9f9fa;
  --color-grey-light: #dfe0e6;
  --color-grey: #c1c3cf;
  --color-grey-dark: #858898;
  --color-grey-darkest: #3d3e46;

  /* Shadows */
  --shadow-soft: 0 16px 40px rgba(61, 62, 70, 0.3), 0 4px 10px rgba(61, 62, 70, 0.1);
  --shadow-soft-shallow: 0 10px 27px rgba(61, 62, 70, 0.3), 0 3px 12px rgba(61, 62, 70, 0.1);
  --shadow-soft-deep: 0 21px 53px rgba(61, 62, 70, 0.3), 0 5px 13px rgba(61, 62, 70, 0.1);

  /* Columns */
  --grid-template-columns-desktop: 64px 64px minmax(auto, 1184px) 64px 64px;
  --grid-template-columns-tablet: 16px 64px calc(100% - 160px) 64px 16px;
  --grid-template-columns-mobile: 16px 32px calc(100% - 96px) 32px 16px;
  --grid-row-1-desktop: 256px;
  --grid-row-1-tablet: 160px;
  --grid-row-1-mobile: 96px;
}

body {
  background-color: #f9f9fa;
  color: #3d3e46;
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}
html {
  scroll-behavior: smooth;
}
#root {
  width: 100%;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1, h2, h3, h4 {
  font-weight: 900;
  font-size: 8em;
  margin: 0;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2em;
  font-weight: 400;
}
a {
  color: #e17381;
  text-decoration: none;
  position: relative;
  transition: color .2s
}
a:visited {
  color: #7382e1;
}
a:hover, a:active {
  color: #3d3e46;
}
a::after {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  background-color: #e17381;
  opacity: 0;
  left: -5%;
  top: -5%;
  transition: background-color .2s, opacity .2s;
  border-radius: 2px;
}
a:visited::after {
  background-color: #7382e1;
}
a:hover::after {
  opacity: 0.2;
}
a:active::after {
  opacity: 0.3;
}

strong {
  font-weight: 900;
}

header, footer, section {
  display: grid;
  grid-template-columns: var(--grid-template-columns-desktop);
}

.soft-shadow {
  box-shadow: 0 16px 40px rgba(61, 62, 70, 0.3), 0 4px 10px rgba(61, 62, 70, 0.1);
}

[class*=" highlight-"], [class^="highlight-"] {
  position: relative;
}
[class*=" highlight-"]::after, [class^="highlight-"]::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  z-index: -1;
  box-shadow: 0 16px 40px rgba(61, 62, 70, 0.3), 0 4px 10px rgba(61, 62, 70, 0.1);
}
.highlight-primary::after {
  background-color: #e17381;
}
.highlight-secondary::after {
  background-color: #7382e1;
}
.highlight-tertiary::after {
  background-color: #bd67cb;
}
.highlight-light-grey::after {
  background-color: #dfe0e6;
}
.highlight-grey::after {
  background-color: #c1c3cf;
}

::-webkit-scrollbar {
  background-color: var(--color-grey-lightest);
  width: 8px;
  margin: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
  transition: background-color 5s ease-out;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-grey-dark);
}

@media (max-width: 1024px) {
  header, footer, section {
    grid-template-columns: var(--grid-template-columns-tablet);
  }
  h2 {
    font-size: 7em;
  }
}
/* Tablet */
@media (max-width: 768px) {
  h2 {
    font-size: 6em;
  }
  h3 {
    font-size: 2em;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 5em;
  }
}
/* Mobile */
@media(max-width: 480px) {
  h2 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  header, footer, section {
    grid-template-columns: var(--grid-template-columns-mobile);
  }
}